* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    cursor: pointer;
}

.addLine {
    text-decoration: line-through;
}

form {
    height: 240px;
}

#top {
    border: solid 1px black;
    width: 100%;
}

.list-icon {
    display: none;
}

.list-unstyled:hover .list-icon {
    display: block;
}

ul #item-group .list-unstyled:hover .list-icon {
    display: inline-block;
}

#tickbox {
    border: solid black 1px;
}
